<h1>Editing station</h1>

<% form_for(@station) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>
<h3>Websites</h3>
  <% f.fields_for(:website) do |w| %>
  <p>
    <%= w.label :url %><br />
    <%= w.text_field :url %>
  </p>
  <p>
    <%= w.label :category %><br />
    <%= w.text_field :category %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>

  <% end %>
<% end %>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>
