<div class="stations-index">
<h1>Listing stations</h1>
<div class="filter">
<h2>Filter By</h2>
<div>State: <%= State.all.map { |x| link_to_unless(params[:state] == x.abbreviation, x.abbreviation, {:state => x.abbreviation }) }.join ' | ' %> </div>
<div>Color: <%= (0..14).map { |x| link_to_unless(params[:color] == x, x.to_s, {:color => x}, {:style => 'text-indent: -10000em; display: inline-block; width: 10px; height: 10px; background-color: hsl(' + (25*x).to_s + ', 100%, 50%);'})}%>
</div>
</div>
<%= will_paginate @stations %>


<% @stations.each do |station| %>
  <div class="station">
    <div class="stations-image-clipped"><%= link_to (image_tag station.home.url), station %></div>
<div>
    <div><%=h station.name %></div>
    <div><%= link_to station.website, station.website %></div>
    <div><%=h station.state %></div>
    <div><%= "Radio" if station.radio %></div>
    <div><%= "Television" if  station.television %></div>
    <div><%= station.average_rating %> (<%= station.ratings_count %>)</div>
    <div><%= link_to 'Show', station %></div>
<% if current_user %>
    <div><%= link_to 'Edit', edit_station_path(station) %></div>
    <div><%= link_to 'Destroy', station, :confirm => 'Are you sure?', :method => :delete %></div>
<% end %>
</div>
    <br style="clear: both" />
  </div>
<% end %>

<br />
<%= will_paginate @stations %>

<%= link_to_if current_user, 'New station', new_station_path %>
</div>
