<div class="stations-index">
<h1>Listing stations (<%= @search.total %>)</h1>
<div class="filter">
<h2>Filter By:</h2>
<div class="reset-filter">
<%= link_to '[reset filters]', url_for({}) %>
</div>
<div class="search-form">
<form>
<% form_tag('/stations') do  %>
<%= label_tag :q, 'Search' %>
<%= text_field_tag 'q', params[:q] %>
<%= submit_tag :search %>
<% end %>
</div>
<div class="facet facet-state"><h3>State</h3>
<% @search.facet(:state).rows.map do |row| %>
<span class="f">
  <%= link_to(row.value, url_for(:state => row.value,:overwrite_params=>{})) %>&nbsp;(<%= row.count %>)
</span>
<% end %>
<!-- <div id="chart_div"></div> -->
</div>
<div class="facet facet-color"><h3>Color</h3>
<% @search.facet(:cached_color).rows.map do |row| %>
   <%= link_to_unless params[:cached_color] == row.value, row.value,  url_for(:overwrite_params=>{},:cached_color => [row.value] + params[:cached_color].to_a), {:style => 'text-indent: -10000em; display: inline-block; width: 10px; height: ' + (3 + row.count / 2 ).to_s + 'px; background-color: hsl(' + (25*row.value.to_i).to_s + ', 100%, 50%);'} %>
<% end %>
</div>
<div class="facet facet-tags"><h3>Tags</h3>
<% @search.facet(:tags).rows.map do |row| %>
<span class="f">
  <%= link_to(row.value, url_for(:overwrite_params=>{:tags => [row.value] + params[:tags].to_a})) %>&nbsp;(<%= row.count %>)
</span>
<% end %>
</div>

<div class="facet facet-rating"><h3>Rating</h3>
<% @search.facet(:average_rating).rows.map do |row| %>
<span class="f">
  <%= link_to(row.value, url_for(:overwrite_params=>{:average_rating => row.value})) %> (<%= row.count %>)
</span>
<% end %>
</div>
<br style="clear: both;" />

</div>
<%= will_paginate @search.results %>

<div class="results">
  <% @search.each_hit_with_result do |hit, station| %>
    <div class="station result station-<%= station.id %>">
       <div class="stations-image-clipped"><%= link_to (image_tag station.home.screenshot.url), station.home.url if station.home %></div>
<%= render :partial => 'metadata', :locals => { :station => station } %>
      <br style="clear: both;" />
    </div>
  <% end %>
</div>

<%= will_paginate @search.results %>
<%= link_to 'New station', new_station_path if current_user %>
</div>
