<h1>New station</h1>

<% form_for(@station, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :radio %><br />
    <%= f.check_box :radio %>
  </p>
  <p>
    <%= f.label :television %><br />
    <%= f.check_box :television %>
  </p>
  <p>
    <%= f.label :home, 'Screenshot' %><br />
    <%= f.file_field :home %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stations_path %>
