<div class="station-home-image"><%= image_tag @station.home.screenshot.url if @station.home %></div>
<p>
  <b>Name:</b>
  <%=h @station.name %>
</p>

<p>
  <b>Website:</b>
  <%= link_to @station.home_url, @station.home_url %>
</p>

<p>
  <b>State:</b>
  <%=h @station.state %>
</p>

<p>
  <b>Radio:</b>
  <%=h @station.radio %>
</p>

<p>
  <b>Television:</b>
  <%=h @station.television %>
</p>

<p>
  <b>Colors:</b>
  <% @station.color.each do |c| %>
  <div style="width: 10px; height: 10px; background-color: hsl(<%= 25 * c.name.to_i %>, 100%, 50%);">&nbsp;</div> 
  <% end %>
</p>

<p>
  <b>Rating:</b>
  <span class="average-rating"><%= @station.average_rating %></span> (<span class="rating-count"><%= @station.ratings_count %></span>)
  <% if current_user %>
    <%= link_to '1', {:action => 'rate', :id => @station.id, :rate => 1} %>
    <%= link_to '2', {:id => @station.id,  :action => 'rate', :rate => 2} %>
    <%= link_to '3', {:id => @station.id, :action => 'rate', :rate => 3} %>
    <%= link_to '4', {:id => @station.id, :action => 'rate', :rate => 4} %>
    <%= link_to '5', {:id => @station.id, :action => 'rate', :rate => 5} %>
  <% end %>
</p>

<p>
  <b>Tags:</b>
  <%=h @station.tag_list %>
  <% form_for(@station) do |f| %>
    <div id="station_tags">
      <%= f.text_field :tag_list %>
    </div>
     <%= f.submit "Add" %>
  <% end %>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_station_path(@station) %> |
<% end %>
<%= link_to 'Back', stations_path %>
