<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stations: <%= controller.action_name %></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<%= javascript_include_tag 'jrails' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'pmt' %>
</head>
<body>
<div id="wrapper">
<div id="header">
<h1><a href="/stations"><span class="site-title">Public Media Tech:</span> Gallery of Station Websites</a></h1>
<div>For some context, read <a href="http://cbeer.info/blog/2010/08/31/a-gallery-of-public-media-organization-websites/">this introductory blog post</a>.</div>
<div><% unless current_user %><%= link_to :sign_up, :sign_up %> | <%= link_to :sign_in, :sign_in %><% end %><%= link_to :sign_out, :sign_out if current_user %> |  <%= link_to "Mosaic", :controller => 'stations', :action => 'mosaic' %></div>
</div>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end -%>
    </div>

<%= yield %>
</div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-12975852-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</body>
</html>
